Processamento Estruturado de Informação/8170312/Shapes/circuloXSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="circulo">
	<xs:complexType mixed="true">
		<xs:sequence>
			<xs:element name="raio" type="xs:decimal"/>
			<xs:element name="corFundo" type="xs:String"/>
			<xs:element name="corLinha" type="xs:String"/>
			<xs:element name="largura" type="xs:decimal"/>
			<xs:element name="coordenadaXX" type="xs:decimal"/>
			<xs:element name="corrdenadaYY" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>